{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title_block %}<h1>The about page!</h1>{% endblock %}
{% block body_block %}

    <div class="page-header">
                <h1>About</h1>
            </div>
            <div>
            <p></p>

            <p>This tutorial has been put together by Seoras Macdonald, 2080613</p>
            {% if count > 0 %}
                <p>You have visited this site <strong>{{ count }} times!</strong></p>
            {% else %}
                <p>You have never visited this site?!</p>
            {% endif %}
            <img src="{% static "images/me.jpg" %}" alt="Seoras Macdonald"/>
            </div>



{% endblock %}